<main>
  <div class="container">
    <header class="brand-name">
      <h1 class="title">Welcome to CulturalChallenge !</h1>
      <h3 class="description">Explore through our tests, discover and test your knowledge !</h3><br>
    </header>
    <section class="content">
      <p><strong>Explore</strong> the world's diversity through our engaging
        tests designed to both entertain and challenge your cultural knowledge.</p>

        <p><strong>Discover :</strong> Delve into an array of themed quizzes,
        each offering a captivating journey through different
        cultures, traditions, and global phenomena.</p>

        <p><strong>Your Knowledge:</strong> Put your cultural awareness to
        the test with thought-provoking questions spanning
        history, art, cuisine, traditions, languages, and more.</p>

        <p>CulturalChallenge is your passport to a fun and
        educational experience, offering a unique way to learn
        about the richness of our world's heritage while enjoying
        an interactive quiz environment. Embark on a quest for cultural
        enlightenment and entertainment today!</p><br>
    </section>
    <div class="buttons">
      <a routerLink="/flashcard-list" class="btn" style="width: 100px;">Tests</a>
      <a routerLink="/soon" class="btn" style="width: 100px;">FAQ</a>
      <a routerLink="/soon" class="btn" style="width: 100px;">About us</a><br><br>
    </div>
  </div>
</main>
